
<div style="margin-top:200px">
    <video width="320" height="240" controls>
        <source src="Stream/StreamMe?footage_id=25EE55EE-D912-42BF-5F4E-08D5B3165218" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>