
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
<style>


    .wrapper {
        display: flex;
        align-items: stretch;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        content: '\e259';
        display: block;
        position: absolute;
        right: 20px;
        font-family: 'Glyphicons Halflings';
        font-size: 0.6em;
    }

    a[aria-expanded="true"]::before {
        content: '\e260';
    }


    body {
        font-family: 'Poppins', sans-serif;
        background: #fafafa;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.7em;
        color: #999;
    }

    a, a:hover, a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    /*#sidebar {*/
    /* don't forget to add all the previously mentioned styles here too */
    /*background: #7386D5;
        color: #fff;
        transition: all 0.3s;
        min-width: 250px;
        max-width: 250px;
        min-height: 100vh;
    }

        #sidebar.active {
            margin-left: -250px;
        }

        #sidebar .sidebar-header {
            padding: 20px;
            background: #6d7fcc;
        }

        #sidebar ul.components {
            padding: 20px 0;
            border-bottom: 1px solid #47748b;
        }

        #sidebar ul p {
            color: #fff;
            padding: 10px;
        }

        #sidebar ul li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
        }

            #sidebar ul li a:hover {
                color: #7386D5;
                background: #fff;
                cursor: pointer;
            }

        #sidebar ul li.active > a, a[aria-expanded="true"] {
            color: #fff;
            background: #6d7fcc;
        }*/

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #6d7fcc;
    }

    .wrapper {
        display: block;
    }

    .overlay {
    /* full screen */
    width: 100vw;
        height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        display: none;
    /* middle layer, i.e. appears below the sidebar */
    z-index: 9998;
    }

    /*@@media (max-width: 768px) {
        #sidebar {
            margin-left: -250px;
        }
        #sidebar.active {
            margin-left: 0;
        }
    }*/

    .container {
        max-width: none !important;
        width: 100%;
    }

    .content {
        /*max-width: 1000px;*/
        width: 100%;
    }

    .header {
        font-size: 30px;
        text-align: center;
        padding: 20px;
        width: 100%;
        background-color: coral;
        display: flex;
    }

    .dashboard-form {
        text-align: center;
        max-width: 1000px;
        margin: auto;
        margin-bottom: 15px;
    }

    .next-btn-div {
        text-align: center;
        margin: 25px;
    }

    .next-btn {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 20px;
    }

    .wrapper {

    }

    @@media (min-width: 1200px) {
        .container {
            max-width: none;
        }
    }

    .body-content {
        padding: 0px;
    }
    .logo {

    }

    .active {
        background-color: darkgray !important;
    }
    .channel-bar {
        background-color: coral;
        width: 100%;
        padding: 15px;
    }
    .channel-bar-bin {
        display: flex;
    }
    .channel {
        border: solid;
        border-color: black;
        padding: 10px;
        width: 100px;
        cursor: pointer;
    }

    .sidebar-content-bin {
        display: flex;
    }

    .sidebar {
        /*flex: 1;*/
        background-color: lightgray;
        min-width: 200px;
        min-height: 100vh;
        max-width: 200px;
    }

    .notification-bar {
        padding: 15px;
    }
    .notification-bar-bin {
        width: 150px;
    }

    .notification {
        border: solid;
        border-color: black;
        padding: 10px;
        cursor: pointer;
        max-width: 120px;
    }
    .content {
        flex: 10;
    }

    .bar {
        height: 5px;
        
    }
    .title {
        background-color: coral;
        width: 100%;
        text-align: center;
        font-size: 16px;
        padding: 10px;
    }

    .video-content {
        width: 100%;
        height: 100%;
    }

    .notification-details-header {
        background-color: lightblue;
        padding: 15px;
    }
    .notification-detail-tag {
        /*background-color: lightblue;*/
        padding: 5px;
        font-weight: bold;
        font-size: 20px;
    }
    .notification-detail {
        /*background-color: lightblue;*/
        padding: 5px;
        font-size: 20px;
    }
    
    .contacts {
        padding: 15px;
        background-color: darkgray;
        font-size: 20px;
        text-align: center;
    }

    .contacts-header {
        padding: 15px;
        font-weight: bold;
        background-color: lightgray;
    }

    .contact-card {
        padding: 5px;
    }
        .contact-card:nth-child(2n+2) {
            background-color: #f3f3f3;
        }
</style>
<script type="text/javascript">

    angular.module('SafetyLens', ['ngAnimate', 'ngSanitize', 'ui.bootstrap']);
    angular.module('SafetyLens').controller('MainDashboardController', function ($scope, $filter) {
        $scope.show_read = false;
        $scope.show_notification = false;
        $scope.show_contacts = false;
        $scope.currentNotification = null;

        $scope.channels = [
            {
                "name": "Channel Test"
            },
            {
                "name": "Channel Test 2"
            },
        ];

        $scope.contacts = [
            {
                "name": "Contact 1",
                "role": "Role 1",
                "phoneNumber": "555-555-5555"
            },
            {
                "name": "Contact 2",
                "role": "Role 2",
                "phoneNumber": "555-555-5555"
            },
        ];

        $scope.GetAllNotifications = function () {
            $.ajax({
                url: '@Url.Action("GetAllCurrentNotifications", "MainDashboard")',
                type: 'POST',
                cache: false,
                dataType: 'json',
                success: function (data) {
                    $scope.notifications = data;
                    $scope.$apply();
                    debugger;
                },
                failure: function (data) {
                    debugger;
                },
            });
        }

        $scope.viewNotification = function (notification) {
            if ($scope.currentNotification != null) {
                $scope.currentNotification.is_read = true;
            }
            $scope.currentNotification = notification;
            $scope.show_notification = true;
            $scope.show_content = false;
            //$scope.$apply();
        }

        var init = function () {
            $scope.GetAllNotifications();
        }
        init();
    });



</script>
<div ng-app="SafetyLens" ng-controller="MainDashboardController" ng-cloak>
    <div id="modal_container">
    </div>
    <div class="wrapper">
        <div class="w3-bar w3-border w3-light-grey">
            <a class="w3-bar-item w3-button w3-right" ng-repeat="channel in channels">{{channel.name}}</a>
        </div>
        @*<div class="channel-bar">
            <div class="logo">

            </div>
            <div class="channel-bar-bin">
                <div class="channel">Channel 1</div>
            </div>
        </div>*@
        @*<div class="card" style="width: 18rem;">
            <div class="card-header" >
                Featured
            </div>
        </div>*@
        <div class="sidebar-content-bin">
            @*<div class="sidebar">
                <div class="notification-bar">
                    <div class="notification-bar-bin">
                        <div class="notification" ng-repeat="notification in notifications">{{notification.name}}</div>
                    </div>
                </div>
            </div>*@
            <div class="sidebar">
                <div class="w3-bar w3-border w3-light-grey">
                    <a class="w3-bar-item" style="text-align: center; font-size: 16px; font-weight: bold; width:100%; background-color: black; color: white;">NOTIFICATIONS</a>
                </div>
                <div class="w3-bar w3-border w3-light-grey" style="display: flex;">
                    <a class="w3-bar-item w3-button w3-left" style="flex: 1;" ng-class="{'active':show_read == true}" ng-click="show_read = true;">Read</a>
                    <a class="w3-bar-item w3-button w3-left active" style="flex: 1;" ng-class="{'active':show_read == false}" ng-click="show_read = false;">Unread</a>
                </div>
                <div class="bar">
                </div>
                <div class="w3-bar w3-border w3-light-grey" ng-repeat="notification in notifications" ng-show="notification.is_read == show_read">
                    <a class="w3-bar-item w3-button w3-left" style="width: 100%;" ng-class="{'active':currentNotification === notification}" ng-click="viewNotification(notification)">{{notification.deviceName}}</a>
                </div>
            </div>

            <div class="content" id="content">
                <div class="notification-content" ng-show="show_notification == true && currentNotification != null" ng-model="currentNotification">
                    @*<div class="title" ng-model="currentNotification">
                        {{currentNotification.deviceName}}
                    </div>*@
                    <div class="video-content">
                        <video width="1280" height="720" controls>
                            <source src="Stream/StreamMe" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="notification-details">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="notification-detail-tag">Device Name:</div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="notification-detail">{{currentNotification.deviceName}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="notification-detail-tag">Location:</div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="notification-detail">{{currentNotification.fileLocation}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <button class="btn btn-warning" style="width: 250px; height: 80px;" ng-click="show_content = true; show_notification = false;">REQUEST HELP</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="contact-content" ng-show="show_content == true && currentNotification != null" ng-model="currentNotification">
                    <div class="contacts">
                        Request Help For {{currentNotification.deviceName}}
                    </div>
                    <div class="contacts-header">
                        <div class="row">
                            <div class="col-md-2">Name</div>
                            <div class="col-md-2">Role</div>
                            <div class="col-md-2">Phone Number</div>
                        </div>
                    </div>
                    <div class="contact-card" ng-repeat="contact in contacts">
                        <div class="row">
                            <div class="col-md-2">{{contact.name}}</div>
                            <div class="col-md-2">{{contact.role}}</div>
                            <div class="col-md-2">{{contact.phoneNumber}}</div>
                            <div class="col-md-2"><button class="btn btn-warning">SEND REQUEST</button></div>
                        </div>


                    </div>
                </div>

            </div>
        </div>

        <div class="overlay"></div>
    </div>
</div>